<p>create-sub-category-dialog works!</p>
<div class="common-dialog-modal" *ngIf="id=='add-sub-category' || id=='edit-sub-category'">
  <div class="d-flex align-items-center justify-content-between bg-light-primary px-4 py-3">
    <div class="d-flex flex-column">
      <h2 class="page-title m-0">Add Sub Category</h2>
      <h4 class="page-title m-0">Add details of your sub category</h4>
    </div>
    <div mat-dialog-close>
      <img src="./assets/images/dialogIcons/cross.svg" alt="">
    </div>
  </div>

  <form [formGroup]="addSubCategoryForm" (ngSubmit)="onSubmit()">
    <!-- ------------------------------------------------------------------------- -->
    <!-- Category details Expansion Panel -->
    <!-- ------------------------------------------------------------------------- -->
    <!-- <pre>payEntitlement.value: {{addSubCategoryForm.getRawValue() | json}}</pre> -->
    <!-- <pre>getFormValidationErrors: {{getFormValidationErrors() | json }}</pre> -->
    <div class="common-custom-expansion content-height mt-2">
      <mat-accordion class="example-headers-align" #accordion="matAccordion" multi>
        <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="">
              Sub Category Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-lg-6 col-xl-6 mb-2">
              <mat-form-field appearance="outline"  class="w-100" color="primary">
                <mat-label>Parent Category</mat-label>
                <mat-select formControlName="categoryId">
                  <mat-option *ngFor="let categoryId of productCategories"
                    [value]="categoryId.productCategoryId">
                    {{ categoryId.productCategoryName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-xl-6 mb-2">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Sub Category Name</mat-label>
                <input matInput formControlName="subCategoryName">
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-xl-6 mb-2">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly
                  formControlName="subCategoryAddDate">
              </mat-form-field>
              <mat-datepicker #picker></mat-datepicker>
            </div>

            <div class="col-lg-6 col-xl-6 mb-2">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Sub Category Status</mat-label>
                <mat-select formControlName="subCategoryStatus">
                  <mat-option *ngFor="let status of subCategoryStatusOptions" [value]="status.value">
                    {{ status.status }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- <div class="col-lg-6 col-xl-4">
              <div class="sku-mat-form-field">
                <mat-form-field appearance="outline" class="w-100 rounded-end-0" color="primary">
                  <mat-label>SKU</mat-label>
                  <input type="text" matInput placeholder="Generate SKU code" formControlName="productSku">
                  <button matSuffix type="button" class="p-4 rounded-start-0 h-100" mat-raised-button color="primary"
                    (click)="generateSKU()">Create SKU</button>
                </mat-form-field>
              </div>
            </div> -->
            <div class="col-lg-6 col-xl-6 mb-2">
              <div class="category-code-mat-form-field">
                <mat-form-field appearance="outline" class="w-100 rounded-end-0 relative-field" color="primary">
                  <mat-label>Sub Category Code</mat-label>
                  <input type="text" matInput placeholder="Generate Category Code" formControlName="subCategoryCode"
                    class="cat-code-input">
                  <button type="button" class="create-cat-code-button" mat-raised-button color="primary"
                    (click)="generateSubCategoryCode()">Create Code</button>
                </mat-form-field>
              </div>
            </div>

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="subCategoryDescription"></textarea>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="d-flex justify-content-end align-items-center py-2">
      <button type="submit" mat-raised-button [disabled]="!isAddSubCategoryFormValid" color="primary">Submit</button>
    </div>
  </form>
</div>
