
.status-button-active {
  display: inline-block;
  padding: 5px 14px;
  background-color: #EAF8F5;
  color: #5EC0A3;
  border-radius: 5px;
}

.status-button-inactive {
  display: inline-block;
  padding: 5px 8px;
  background-color: #ffeeee;
  color: #fc635d;
  border-radius: 5px;
}
