<p>create-brand-dialog works!</p>
<div class="common-dialog-modal" *ngIf="id=='add-brand' || id=='edit-brand'">
  <div class="section-card rounded p-2">
    <div class="d-flex align-items-start justify-content-between">
      <div class="p-2">
        <h3>Add Brand</h3>
        <p class="f-12 medium-font">Add details of your brand</p>
      </div>
      <div mat-dialog-close>
        <img src="./assets/images/dialogIcons/cross.svg" alt="">
      </div>
    </div>
  </div>

  <form [formGroup]="addBrandForm" (ngSubmit)="onSubmit()">
    <!-- ------------------------------------------------------------------------- -->
    <!-- Brand details Expansion Panel -->
    <!-- ------------------------------------------------------------------------- -->
    <!-- <pre>payEntitlement.value: {{addBrandForm.getRawValue() | json}}</pre> -->
    <!-- <pre>getFormValidationErrors: {{getFormValidationErrors() | json }}</pre> -->
    <div class="common-custom-expansion content-height mt-2">
      <mat-accordion class="example-headers-align" #accordion="matAccordion" multi>
        <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="">
              Brand Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <!-- Brand Image Upload Section -->
            <div class="d-flex m-0 mb-4">
              <!-- Add Image Button -->
              <div class=" d-flex flex-column align-items-start file-uploader-container" *ngIf="images.length === 0">
                <div class="d-flex flex-column align-items-center justify-content-center upload-lable-text btn"
                  (click)="triggerFileUpload(fileInput)">
                  <i class="bi bi-plus-square"></i>
                  <label for="inputGroupFile">Add Brand Logo</label>
                </div>
                <input #fileInput type="file" accept=".jpg, .jpeg" class="form-control file-upload-input hidden"
                  (change)="onFileSelected($event)" hidden>
              </div>

              <!-- Image Preview Section -->
              <div class="d-flex flex-column align-items-start file-uploader-container" *ngIf="images.length > 0">
                <div class=" upload-lable-text btn">
                  <img *ngIf="images[0]" [src]="images[0].src" alt="Image Preview" class="image-preview">
                  <div class="text-end delete-container">
                    <i class="bi bi-x delete-icon" (click)="deleteImage()"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-xl-6">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Brand Name</mat-label>
                <input matInput formControlName="brandName">
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-xl-6">
              <div class="category-code-mat-form-field">
                <mat-form-field appearance="outline" class="w-100 rounded-end-0 relative-field" color="primary">
                  <mat-label>Brand Code</mat-label>
                  <input type="text" matInput placeholder="Generate Brand Code" formControlName="brandCode"
                    class="cat-code-input">
                  <button type="button" class="create-cat-code-button" mat-raised-button color="primary"
                    (click)="generateBrandCode()">Create Code</button>
                </mat-form-field>
              </div>
            </div>

            <div class="col-lg-6 col-xl-6">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly
                  formControlName="brandAddDate">
              </mat-form-field>
              <mat-datepicker #picker></mat-datepicker>
            </div>

            <div class="col-lg-6 col-xl-6">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Brand Status</mat-label>
                <mat-select formControlName="brandStatus">
                  <mat-option *ngFor="let brandStatus of brandStatusOptions" [value]="brandStatus.value">
                    {{ brandStatus.status }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="brandDescription"></textarea>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="d-flex justify-content-end align-items-center py-2">
      <button type="submit" mat-raised-button [disabled]="!isAddBrandFormValid" color="primary">Submit</button>
    </div>
  </form>
</div>
