mat-toolbar {
  position: relative;
  // background-color: #f8f7fa;
  z-index: 5;

}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.toolbar-left {
  display: flex;
  align-items: center;
  gap: 8px;
  /* Optional spacing between items */
}

.toolbar-right {
  display: flex;
  align-items: center;
  gap: 8px;
  /* Optional spacing between items */
}

.toolbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .app-title {
    text-align: center;
    flex: 1;
  }

  .menu-icon {
    margin-left: auto;
  }
}

button[mat-icon-button] {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button[mat-icon-button] img {
  width: 100%;
  /* Adjust the size to fit */
  height: 100%;
  /* Maintain aspect ratio */
  max-width: 24px;
  /* Match typical icon size */
  max-height: 24px;
  border-radius: 50%;
  /* Make it circular */
  object-fit: cover;
  /* Ensure the image scales properly */
}


mat-sidenav-container {
  height: calc(100vh - 15vh);
  background-color: #edf0f2;
}

mat-sidenav {
  height: calc(100vh - 18vh);
}


.content {
  // background-color: #f8f7fa;
  padding-left: 10px;
  padding-right: 10px;
}

mat-sidenav {
  transition: width 0.3s ease-in-out;
}

img {
  border-radius: 100%;
  object-fit: cover;
}

.user {
  .user-name {
    font-size: 15px;
  }

  .user-role {
    font-size: 13px;
    opacity: 70%;
  }
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 14px;
  }
}

.mat-mdc-menu-item {
  min-height: 40px !important;
}

.notification-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  /* Adjust size as needed */
  height: 25px;
  /* Adjust size as needed */
  border-radius: 50%;
  background-color: red;
  /* Badge background color */
  color: white;
  /* Text color */
  position: absolute;
  /* For positioning */
  top: 8px;
  /* Adjust to position the badge */
  right: 10px;
  /* Adjust to position the badge */
}

.menu-items .notification-badge {
  font-size: 12px !important;
  /* Ensure the font-size is applied */
}


button[mat-icon-button] {
  position: relative;
}

.toolbar {
  &.mobile {
    justify-content: space-between;

    .app-title {
      text-align: center;
    }

    .menu-icon {
      margin-left: auto;
    }
  }
}

.footer {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 5;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer nav ul {
  list-style-type: none;
  padding: 0;
}

.footer nav ul li {
  display: inline;
  margin: 0 10px;
}

.footer nav ul li a {
  text-decoration: none;
  color: #007bff;
}

.footer nav ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer nav ul {
    margin-top: 10px;
  }

  .footer nav ul li {
    display: block;
    margin: 5px 0;
  }
}

.scroll-btn {
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  transition: opacity 0.3s;
}

.scroll-btn:hover {
  background-color: #0056b3;
}

.scroll-btn:focus {
  outline: none;
}
