<div class="auth-bg d-flex align-items-center justify-content-center min-vh-100">
  <div class="container">
    <mat-card class="card-shadow">
      <div class="container-fluid">
        <div class="row justify-content-center p-5">
          <div class="col-11">
            <div class="login-signup-page-container">
              <div class="row">
                <div class="col-12 col-lg-7">
                  <div class="text-center">
                    <a href="/"><img src="./assets/logos/M.png" alt="logo" class="img-fluid"></a>
                    <h1 class="mt-3">Let's get you signed in</h1>
                  </div>
                  <div class="login-with-app-container mt-5">
                    <div class="d-flex gap-3 justify-content-center">
                      <div class="login-google-btn d-flex gap-2 align-items-center">
                        <img src="/assets/images/svgs/google.png" alt="Google" width="20">
                        <p class="m-0 show-text">
                          <span class="char-g">G</span>
                          <span class="char-o">o</span>
                          <span class="char-o-2">o</span>
                          <span class="char-g-2">g</span>
                          <span class="char-l">l</span>
                          <span class="char-e">e</span>
                        </p>
                      </div>
                      <div class="login-facebook-btn d-flex gap-2 align-items-center">
                        <img src="/assets/images/svgs/facebook.png" alt="Google" width="20">
                        <p class="m-0 show-text">Facebook</p>
                      </div>
                    </div>
                  </div>
                  <div class="sign-in-with-text text-center mt-5">
                    <p class="fs-20 m-0 text-with-bg d-inline-block">or Sign in with</p>
                  </div>

                  <div class="mt-5">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                      <!-- Username Input -->
                      <div class="text-center">
                        <mat-form-field class="cw-75" color="primary">
                          <mat-label>Username</mat-label>
                          <input matInput formControlName="username">
                          <button matSuffix mat-icon-button aria-label="Clear">
                            <mat-icon>person</mat-icon>
                          </button>
                          <mat-hint class="text-danger" *ngIf="usernameError">* {{ usernameError }}</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="cw-75 mt-3" color="primary">
                          <mat-label>Password</mat-label>
                          <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password">
                          <button matSuffix mat-icon-button type="button" (click)="togglePasswordVisibility()"
                            aria-label="Toggle password visibility">
                            <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                          </button>
                          <mat-hint class="text-danger" *ngIf="passwordError">* {{ passwordError }}</mat-hint>
                        </mat-form-field>
                        <div class="d-flex justify-content-center">
                          <div
                            class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between cw-75">
                            <mat-checkbox color="primary">Keep me logged in</mat-checkbox>
                            <a class="text-primary text-decoration-none" href="/authentication/boxed-forgot-pwd">Forgot
                              Password?</a>
                          </div>
                        </div>
                      </div>


                      <!-- Submit Button -->
                      <div class="text-center my-5">
                        <button mat-raised-button class="w-50 py-2 rounded-pill animated-btn-effect" color="primary"
                          type="submit">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-5 d-none d-lg-block">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-center left-border">
                      <img src="/assets/images/backgrounds/stock_mgmt.svg" alt="login-side-img" width="300"
                        class="img-fluid">
                      <h2 class="text-primary text-nowrap">Inventory Management System</h2>
                      <p class="text-wrap">Effortlessly manage inventory with real-time
                        tracking, automated updates, and customizable reports. Streamline operations, reduce errors,
                        and boost efficiency.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
